.contenido {
    display: grid ; 
    align-items: start;
    gap: 5rem;

    @media (min-width: 768px) {
        grid-template-columns: 3fr 2fr;
    }

    .carrito{
        padding: 3rem 0;
    }

    .resumen {
        background-color: #eaeaea;
        padding: 1rem 2rem ;
        border-radius: 1rem;
    }

}
